body {
    background: #000000	
}

#kalebalura{
             width: 60%;
}

h1 {
     text-align: center 
}

p {
    text-align: center 
}

#Beneficios {
   font-size: 20px
}

em strong {
           color: #FFD700
}
